/*25 & 50*/
@keyframes flash {
  0% {
    opacity: 0.5;
  }

  100% {
    opacity: 1;
  }
}

img:hover + span {
  bottom: -36px;
  opacity: 1;
}

img {
  transition: all 0.25s ease;
}

.picture_zoom img:hover {
  transform: scaleY(1.3);
}

.picture_zoom img:hover {
  transform: scaleY(1.3);
}

@keyframes slideImg {
  0% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

div {
  animation: 1s ease-out 0s 1 slideImg;
}

@keyframes slideNav {
  0% {
    transform: translateX(-200%);
  }

  100% {
    transform: translateX(0);
  }
}
div ul {
  animation: 1s ease-out 0s 1 slideNav;
}

body {
  background-image: url("../img/gray-painted-background_53876-94041.jpg");
  background-color: #707070;
}

#firstPicture {
  position: absolute;
  top: 10px;
  right: 1080px;
  overflow: hidden;
}

#firstPicture img:hover {
  animation: flash 1s;
}

#secondPicture {
  position: absolute;
  top: 10px;
  right: 765px;
  overflow: hidden;
}

#secondPicture img:hover {
  animation: flash 1s;
}

#thirdPicture {
  position: absolute;
  top: 10px;
  right: 450px;
  overflow: hidden;
}

#thirdPicture img:hover {
  animation: flash 1s;
}

#fourthPicture {
  position: absolute;
  top: 10px;
  right: 230px;
  overflow: hidden;
}

#fourthPicture img:hover {
  animation: flash 1s;
}

#fifthPicture {
  position: absolute;
  top: 338px;
  right: 230px;
  overflow: hidden;
}

#fifthPicture img:hover {
  animation: flash 1s;
}

#sixthPicture {
  position: absolute;
  top: 450px;
  right: 1080px;
  overflow: hidden;
}

#sixthPicture img:hover {
  animation: flash 1s;
}

#seventhPicture {
  position: absolute;
  top: 10px;
  right: 10px;
  overflow: hidden;
}

#seventhPicture img:hover {
  animation: flash 1s;
}

#eightPicture {
  position: absolute;
  top: 338px;
  right: 10px;
  overflow: hidden;
}

#eightPicture img:hover {
  animation: flash 1s;
}

#ninethPicture {
  position: absolute;
  top: 450px;
  right: 765px;
  overflow: hidden;
}

#ninethPicture img:hover {
  animation: flash 1s;
}

#tenthPicture {
  position: absolute;
  top: 450px;
  right: 450px;
  overflow: hidden;
}

#tenthPicture img:hover {
  animation: flash 1s;
}

#nav {
  position: absolute;
  top: 300px;
  right: 450px;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
}

#nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#nav ul li {
  display: inline;
  padding-right: 70px;
}

#nav ul li a {
  padding: 5px;
  background-color: #323232;
  color: #646464;
  display: inline-block;
  text-decoration: none;
  width: 200px;
}

#nav ul li a:hover {
  background-color: #646464;
  color: #323232;
}
