body {
  background-image: url("../img/gray-painted-background_53876-94041.jpg");
  background-color: #707070;
}

@keyframes slideText {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}
div p {
  animation: 1s ease-out 0s 1 slideText;
}

@keyframes slideNav {
  0% {
    transform: translateX(-5000%);
  }

  100% {
    transform: translateX(0);
  }
}
div ul {
  animation: 30s ease-out 0s 1 slideNav;
}

@keyframes fadePicture {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
div img {
  animation: 2s ease-in 0s 1 fadePicture;
}

#picture_position {
  position: absolute;
  top: 50px;
  left: 475px;
}

#text_position_1 {
  position: absolute;
  top: 200px;
  left: 40px;
}

#text_position_2 {
  position: absolute;
  top: 180px;
  left: 1100px;
}

#text_position_3 {
  position: absolute;
  top: 460px;
  left: 280px;
}

p {
  font-style: italic;
  font-size: 30px;
  font-weight: lighter;
}

#nav {
  position: absolute;
  top: 630px;
  left: 245px;
  text-align: center;
  font-size: 24pt;
  font-weight: bold;
}

#nav ul {
  text-align: center;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}

#nav ul li {
  display: inline;
  padding-right: 70px;
}

#nav ul li a {
  padding: 5px;
  background-color: #323232;
  color: #646464;
  display: inline-block;
  text-decoration: none;
  width: 200px;
}

#nav ul li a:hover {
  background-color: #646464;
  color: #323232;
}
