body {
  background-color: pink;
}

#image_1 {
  visibility: hidden;
  position: absolute;
  left: 570px;
  top: 20px;
}
#image_2 {
  visibility: hidden;
  position: absolute;
  left: 50px;
  top: 40px;
}
#image_3 {
  visibility: hidden;
  position: absolute;
  left: 1100px;
  top: 55px;
}
#image_4 {
  visibility: hidden;
  position: absolute;
  left: 180px;
  top: 50px;
}
#image_5 {
  visibility: hidden;
  position: absolute;
  left: 850px;
  top: 200px;
}
